cloud = "gcp" # or "aws"
project_id = "YOUR_PROJECT_ID"
region = "asia-south1"
zone = "asia-south1-a"

aws_access_key = "YOUR_AWS_ACCESS_KEY"
aws_secret_key = "YOUR_AWS_SECRET_KEY"

db_password = "ReplaceWithStrongPassword123!"
